@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.overlay {
  background-color: rgba(0, 0, 0, 0.427); /* Semi-transparent black overlay */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
}

.input_text {
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-family: emoji;
  background: transparent;
  border: transparent;
  height: 33px;
  box-shadow: 0 0 0 1px transparent, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

input_text:focus {
  border: 2px solid #000;
  border-radius: 4px;
}

.b1 {
  text-align: center;
}

.mr-pos-10{
margin-right: 10px;
margin-left: 5px;
}
.shareIcon {
  width: 40px; /* Adjusted size for better responsiveness */
  height: 40px;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  margin-right: 10px;
}

.shareIcon:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}

.PicIcon {
  width: 40px; /* Adjusted size for better responsiveness */
  height: 40px;
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
  margin-right: 10px;
}

.PicIcon:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}


@media only screen and (max-device-width: 480px) {
  .input_text {
    font-weight: normal;
    font-size: 14px;
    width: 120%;
    
  }
  .form-group > .selectGrade{
    width: 50%;
  }
  .form-group > .form-select{
    font-size: 0.9rem;
  }
  .fs-4{
    padding-left: 0px;
  }
  .shareIcon {
    width: 30px; /* Smaller size for mobile screens */
    height: 30px;
    margin: 5px;
  }
}

.readyClass {
  background: hsla(0, 0%, 100%, 0.6);
  padding: 28px 24px;
  font-size: 11px;
  text-align: center;
}

.readyClass__copy {
  margin: 0;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 100%, 0.6);
  padding: 28px 24px;
  font-size: 11px;
  text-align: center; /* Optional: centers the text */
  z-index: 10000;
}

.footer__copy {
  margin: 0; /* Ensure no extra margin around the copy text */
}
.form-group {
  display: flex;
  align-items: center;
  /* width: 50%; */
}
.form-group > * {
  margin-right: 4px;
}

.fs-4{
  padding-left: 20px;
font-family: Poppins;
}


@media only screen and (min-width: 768px) {
  .input-group{
  justify-content: center;
}
#copy_input{
width: 50%;
flex: none;
}
}
